<ion-header>
  <ion-toolbar>
    <ion-title>
      <span class=fancyText>Tipper</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <!-- <body ng-mod ng-controller="tipCtrl"> -->
    <!-- div tag for random backround function (not currently working) -->
    <!-- <div ng-app='bG' ng-controller='backgroundCtrl' id="allBackground" class="{{randBackG}}"> -->
                      <!-- <script>
                        backgroundFunction($scope)
                      
                        </script> -->

      <!-- div tag for static backround -->
      <div ng-app='bG' ng-controller='backgroundCtrl' class="allBackground">
   
      <div class="ion-padding">
      <span class=normalText>There's Tips Coming..... </span><span class=fancyText>Eventually</span>
      <!-- <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
      <!-- <p>{{cTip}}</p> -->
      </div>

  <!-- Test changes in ionic default colors -->
  <div class=buttons>
    <ion-button color="primary">Primary Button</ion-button>
    <ion-button color="secondary">Secondary Button</ion-button>
  </div>
    </div>


<!-- </body>  -->
</ion-content>

 



