
.fancyText{font-family: cursive;
    font-size: x-large;
    font-style: italic;}
.normalText{font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;}
.allBackground{background-color: indianred;}
.bG1{background-color: green;}
.ion-padding{text-align: center;}
.buttons{text-align: center;}